[include]
	path = .gituser	
[alias]
	ai = add --interactive
	ri = rebase --interactive
	rc = rebase --continue
	st = status -sb
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --color
	figg = diff
	remotes =for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/remotes
	heads = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
	conflicts = diff --name-only --diff-filter=U
	signed = !ac-sign verify-history
[color]
	diff = auto
	status = always
[ui]
	color = auto
[push]
	default = tracking
	autoSetupRemote = true
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[submodule]
	recurse = true
[core]
	excludesfile = /Users/nash/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
