[alias]
	ai = add --interactive
	ri = rebase --interactive
	st = status -sb
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --color
	figg = diff
[user]
	name = Brett Nash
	email = nash@nash.space
[color]
	diff = auto
	status = always
[ui]
	color = auto
[push]
	default = tracking
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
